body {
  /* Obsidian translucency effect */
  background: rgba(40, 44, 52, 0.6) !important;
  backdrop-filter: blur(16px) saturate(150%) contrast(1.5);
}
.theme-dark {
  --background-primary: rgba(40, 44, 52, 0.6) !important;
  --background-secondary: rgba(23, 25, 31, 0.6) !important;
  --background-modifier-blur: blur(16px);
}
